{% extends 'hello/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<i class="fa fa-user"></i>
  <div class="outer1">
    <div class="middle1">
      <div class="inner1 rounded-4 bg-white">
        <div class="container">
          <div class="row mt-5 bg-white">
            <div class="col-lg-8 bg-white m-auto">
              <h2 class="text-center pt-3">Sign up</h2>
              <form action="" method="POST" class="poster">
                {% csrf_token %}
                <div class="input-group mb-4">
                  <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                  {{ form.username }}
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                  {{ form.email }}
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                  {{ form.password1 }}
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                  {{ form.password2 }}
                </div>
                
                {% if messages %}
                  <ul class="messages">
                      {% for message in messages %}
                      <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style-type: none; color:rgb(195, 67, 67);">
                          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                          {{ message }}
                      </li>
                      {% endfor %}
                  </ul>
                {% endif %}
                <div class="d-grid">
                  <button type="submit" class="btn btn-success">Sign up</button>
                  <br>
                  
                  <p class="text-center">
                    Already have an account? <a href="{% url 'login:index'%}">Sign in</a>
                  </p>
                </div>
                
              </form>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var form_fields = document.getElementsByTagName('input')

    form_fields[1].placeholder = 'Username...'
    form_fields[2].placeholder = 'Email...'
    form_fields[3].placeholder = 'Password...'
    form_fields[4].placeholder = 'Confirm password...'

    for (var field in form_fields) {
      form_fields[field].className += 'form-control'
    }
  </script>

{% endblock %}